<form class="form-horizontal"
      #signupform="ngForm"
      (ngSubmit)="onSave(signupForm)">
  <div class="form-group"
       [ngClass]="{ 'has-error': (firstNameVar.touched || firstNameVar.dirty) && firstNameVar.invalid }">
    <input class="form-control"
           id="firstNameId"
           type="text"
           placeholder="First Name (required)"
           required
           minlength="3"
           [(ngModel)]="user.firstName"
           name="firstName"
           #firstNameVar="ngModel">
    <span class="help-block"
          *ngIf="(firstNameVar.touched || firstNameVar.dirty) && firstNameVar.errors">
      <span *ngIf="firstNameVar.hasError('required')">Please enter your first name.</span>
      <span *ngIf="firstNameVar.hasError('minlength')">The first name must be longer than 3 characters.</span>
    </span>
  </div>
</form>
