<div [fromGroup]="addressInfoForm">
  <div class="form-group">
    <label class="col-md-2 control-label">Address Type</label>
    <div class="col-md-7">
      <label class="radio-inline">
        <input type="radio"
               id="{{'addressType1Id' + i}}"
               value="home"
               formControlName="addressType"> Home
      </label>
      <label class="radio-inline">
        <input type="radio"
               id="{{'addressType2Id' + i}}"
               value="work"
               formControlName="addressType"> Work
      </label>
      <label class="radio-inline">
        <input type="radio"
               id="{{'addressType1Id' + i}}"
               value="other"
               formControlName="addressType"> Other
      </label>
    </div>
    <div class="col-md-1 text-right"
         *ngIf="i > 0">
      <button class="btn btn-danger"
              (click)="onRemoveAddress(i)">
        <span>X</span>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label"
           attr.for="{{'countryId' + i}}">Country, City, Zip Code</label>
    <div class="col-md-3">
      <select class="form-control"
              id="{{'countryId' + i}}"
              formControlName="country">
        <option value="">Select Country...</option>
        <option *ngFor="let country of countries"
                value="{{country}}">{{country}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="text"
             class="form-control"
             id="{{'cityId' + i}}"
             placeholder="City"
             formControlName="city">
    </div>
    <div class="col-md-3">
      <input type="text"
             class="form-control"
             id="{{'zipId' + i}}"
             placeholder="Zip Code"
             formControlName="zip">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label"
           attr.for="{{'street1Id' + i}}">Street Address 1</label>
    <div class="col-md-8">
      <input type="text"
             class="form-control"
             
             placeholder="Street Address"
             formControlName="street1">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label"
           attr.for="{{'street2Id' + i}}">Street Address 2</label>
    <div class="col-md-8">
      <input type="text"
             class="form-control"
             id="{{'street2Id' + i}}"
             placeholder="Street Address (second line)"
             formControlName="street2">
    </div>
  </div>
</div>
