<select class="form-control"
        id="countryId">
  <option value="">Select a Country...</option>
  <option *ngFor="let country of countries"
          value="{{country}}">{{country}}</option>
</select>

<form class="form-horizontal"
      (ngSubmit)="onSave()"
      [formGroup]="userForm"
      *ngIf="userForm">
  <button class="btn btn-primary"
          type="submit"
          [disabled]="!userForm.valid">
    <span>Save</span>
  </button>

  <br>Dirty: {{userForm.dirty}}
  <br>Touched: {{userForm.touched}}
  <br>Valid: {{userForm.valid}}
  <br>Value: {{userForm.value | json}}
  <br>Form Status: {{userForm.status}}

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('firstName') }">
    <input class="form-control"
           id="firstNameId"
           type="text"
           placeholder="First Name (required)"
           formControlName="firstName">
    <span class="help-block"
          *ngIf="hasErrors('firstName')">
      <span *ngIf="hasError('firstName', 'required')">Please enter your first name.</span>
      <span *ngIf="hasError('firstName', 'minlength')">The first name must be longer that 3 characters.</span>
    </span>
  </div>

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('lastName') }">
    <input class="form-control"
           id="lastNameId"
           type="text"
           placeholder="Last Name (required)"
           formControlName="lastName">
    <span class="help-block"
          *ngIf="hasErrors('lastName')">
      <span *ngIf="hasError('lastName', 'required')">Please enter your last name.</span>
    </span>
  </div>

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('email') }">
    <input class="form-control"
           id="emailId"
           type="text"
           placeholder="Email (required)"
           formControlName="email">
    <span class="help-block"
          *ngIf="hasErrors('email')">
      <span *ngIf="hasError('email', 'required')">Please enter your email address.</span>
      <span *ngIf="hasError('email', 'pattern')">Please enter a valid email address.</span>
      <span *ngIf="hasError('email', 'email')">Please enter a valid email address.</span>
    </span>
  </div>

  <label>
    <input id="sendProductsId"
           type="checkbox"
           formControlName="sendProducts">
    Send me your products
  </label>

  <div>
    <div class="form-group">
      <label class="col-md-2 control-label">Address Type</label>
    </div>
  </div>
</form>
