<form class="form-horizontal"
      (ngSubmit)="onSave()"
      [formGroup]="userForm"
      *ngIf="userForm">
  <br>Dirty: {{userForm.dirty}}
  <br>Touched: {{userForm.touched}}
  <br>Valid: {{userForm.valid}}
  <br>Value: {{userForm.value | json}}
  <br>Form Status: {{userForm.status}}

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('firstName') }">
    <label class="control-label"
           for="firstNameId">First Name</label>
    <input class="form-control"
           id="firstNameId"
           type="text"
           placeholder="First Name (required)"
           formControlName="firstName">
    <span class="help-block"
          *ngIf="hasErrors('firstName')">
      <span *ngIf="hasError('firstName', 'required')">Please enter your first name.</span>
      <span *ngIf="hasError('firstName', 'minlength')">The first name must be longer that 3 characters.</span>
    </span>
  </div>

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('lastName') }">
    <label class="control-label"
       for="lastNameId">Last Name</label>
    <input class="form-control"
           id="lastNameId"
           type="text"
           placeholder="Last Name (required)"
           formControlName="lastName">
    <span class="help-block"
          *ngIf="hasErrors('lastName')">
      <span *ngIf="hasError('lastName', 'required')">Please enter your last name.</span>
    </span>
  </div>

  <div formGroupName="emailGroup"
       [ngClass]="{ 'has-error': validationMessage}">
    <div class="form-group"
        [ngClass]="{ 'has-error': !isValid('email') }">
      <label class="control-label"
            for="emailId">Email</label>
      <input class="form-control"
            id="emailId"
            type="text"
            placeholder="{{placeholder.email}}"
            formControlName="email"
            appAsyncEmailValidator
            (blur)="onBlur()">
      <span class="help-block"
            *ngIf="validationMessage">{{validationMessage}}</span>
    </div>

    <div class="form-group"
        [ngClass]="{ 'has-error': !isValid('confirmEmail') }">
      <label class="col-md-2 control-label"
            for="confirmEmailId">Confirm Email</label>

      <div class="col-md-8">
        <input class="form-control"
              id="confirmEmailId"
              type="email"
              placeholder="{{placeholder.confirmEmail}}"
              formControlName="confirmEmail">
        <span class="help-block"
              *ngIf="hasErrors('confirmEmail') || emailGroup?.errors">
          <span *ngIf="hasError('confirmEmail', 'required')">Please confirm your email address.</span>
          <span *ngIf="hasError('emailGroup', 'emailMatch')">The confirmation does not match the email address.</span>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('phone') }">
    <label class="col-md-2 control-label"
           for="phoneId">Phone</label>
    <div class="col-md-8">
      <input class="form-control"
             id="phoneId"
             type="tel"
             placeholder="{{placeholder.phone}}"
             formControlName="phone">
      <span class="help-block"
            *ngIf="hasErrors('phone')">
        <span *ngIf="hasError('phone', 'required')">Please enter your number.</span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Send Notifications</label>
    <div class="col-md-8">
      <label class="radio-inline">
        <input type="radio"
               value="email"
               formControlName="notification">Email
      </label>
      <label class="radio-inline">
        <input type="radio"
               value="text"
               formControlName="notification">Phone
      </label>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{ 'has-error': !isValid('serviceLevel') }">
    <label class="col-md-2 control-label"
           for="serviceLevelId">Service Level</label>
    <div class="col-md-8">
      <input class="form-control"
             id="serviceLevelId"
             type="number"
             formControlName="serviceLevel"
             appServiceLevelValidator
             [rMin]="rMin"
             [rMax]="rMax" >
      <span class="help-block"
            *ngIf="hasErrors('serviceLevel')">
        <span *ngIf="hasError('serviceLevel', 'serviceLevel')">Please enter correct number from {{rMin}} to {{rMax}}.</span>
      </span>
    </div>
  </div>

  <label>
    <input id="sendProductsId"
           type="checkbox"
           formControlName="sendProducts">
    Send me your products
  </label>

  <div *ngIf="userForm.get('sendProducts')?.value">
    <div formGroupName="addresses">
      <div class="form-group">
        <label class="col-md-2 control-label">Address Type</label>
        <div class="col-md-8">
          <label class="radio-inline">
            <input type="radio"
                   id="addressTypeId1"
                   value="home"
                   formControlName="addressType"> Home
          </label>
          <label class="radio-inline">
            <input type="radio"
                   id="addressTypeId2"
                   value="work"
                   formControlName="addressType"> Work
          </label>
          <label class="radio-inline">
            <input type="radio"
                   id="addressTypeId3"
                   value="other"
                   formControlName="addressType"> Other
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"
               for="city1">Country, City, Zip Code</label>
        <div class="col-md-3">
          <select class="form-control"
                  id="countryId"
                  formControlName="country">
            <option value="">Select Country...</option>
            <option *ngFor="let country of countries"
                    value="{{country}}">{{country}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <input type="text"
                 class="form-control"
                 id="cityId"
                 placeholder="City"
                 formControlName="city">
        </div>
        <div class="col-md-3">
          <input type="text"
                 class="form-control"
                 id="zipId"
                 placeholder="Zip Code"
                 formControlName="zip">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"
               for="street1Id">Street Address 1</label>
        <div class="col-md-8">
          <input type="text"
                 class="form-control"
                 id="street1Id"
                 placeholder="Street Address"
                 formControlName="street1">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label"
               for="street2Id">Street Address 2</label>
        <div class="col-md-8">
          <input type="text"
                 class="form-control"
                 id="street2Id"
                 placeholder="Street Address (second line)"
                 formControlName="street2">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <button class="btn btn-primary"
              type="submit"
              [disabled]="!userForm.valid">
        <span>Save</span>
      </button>
    </div>
  </div>
</form>
